<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.budgetbee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetBee"
        tools:targetApi="31">

        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- WelcomeActivity -->
        <activity android:name=".WelcomeActivity" android:exported="true"/>

        <!-- Login and Register Activities -->
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".RegisterActivity" android:exported="true"/>
        <activity android:name=".HomeActivity" android:exported="true"/>
        <activity android:name=".ResetPasswordActivity" android:exported="true"/>

        <!-- HomeActivity (after login success) -->
               <!--  <activity android:name=".HomeActivity" android:exported="true"/> commented out by vinay cause error : Duplicate registration for activity com.example.budgetbee.HomeActivity-->

        <activity android:name=".GoalsActivity" android:exported="true" />

        <activity android:name=".EditGoalsActivity" android:exported="true" />

        <activity android:name=".CategoriesActivity" android:exported="true" />
        <activity android:name=".CategoryDetailsActivity" android:exported="true" />

        <activity android:name=".MainActivity" android:exported="true" />


    </application>
</manifest>
